Application/build
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/copyright/profiles_settings.xml
.idea/vcs.xml
.gradle
local.properties
